
@media(max-width: 700px) {
    .buttonContainer {
        flex-direction: column;
        align-items: center;
        height: 200px;
    }
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    color: maroon;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

button {
    width: 20%;
    min-width: 100px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-large;
    font-weight: bold;
    border: 3px solid black;
}

button:hover {
    background-color: lightgray;
}

span p {
    margin-top: 30px;
}

.scoreContainer {
    width: 27%;
    min-width: 300px;
    margin-top: 20px;
}

.scoreTitle {
    display: flex;
    justify-content: space-between;
}

.scoreTitle div {
    width: 47%;
    text-align: center;
    color: maroon;
    font-weight: bold;
    font-size: large;
}

.score {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#playerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 50px;
    border: 3px solid black;
    font-size: x-large;
}

#computerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 50px;
    border: 3px solid black;
    font-size: x-large;
}

.resultContainer {
    width: 30%; 
    height: 100px;    
    margin-top: 60px;
    margin-bottom: 50px;
}

.resultTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: maroon;
}

#result {
    width: 100%; 
    height: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 5px;
}
